@page
	{size:8.5in 11in;}
td p
	{orphans: 0;
	widows: 0;}
th p
	{orphans: 0;
	widows: 0;}
a:link
	{so-language: zxx;}
a:visited
	{so-language: zxx;}
@page
	{size:8.5in 11in;}
td p
	{orphans: 0;
	widows: 0;}
th p
	{orphans: 0;
	widows: 0;}
a:link
	{so-language: zxx;}
a:visited
	{so-language: zxx;}
tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font0
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:red;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:red;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#7030A0;
	mso-pattern:black none;
	white-space:normal;}
